*{
box-sizing: border-box;
}
body{
    margin: 0;
    background-color: #fffffe;
}

/* cor padrao dos paragrafos*/
.paragrafo{
    color: #5f6c7b;
}

.formularioCadastro input{
    border: 0.1rem solid black;
    margin-top: 3%;
    margin-bottom: 5%;
    width: 100% ;
}

/*main*/
.cadastro, .validacao{
    display: flex;
    flex-direction: column;
    justify-items: center;
    min-width: 300px;
    max-width: 500px;
    width: 65%;
    font-family: sans-serif;
}

/*titulo*/
.tituloCadastro, .tituloValidacao{
    text-align: center;
    color: #094067;
}

/*botao principal*/
.btnPrincipal{
    padding-top: 3%;
    padding-bottom: 3%;
    background-color: #3da9fc;
    color: #fffffe;
    display: block;
    width: 100%;
    border-radius: 5px;
    cursor: pointer;
}

.containerValidacaoECadastro{
    margin: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.validacao input{
    width: 100%;
}

/* login */

.linkCadastroLogin{
    text-align: end;
}

/*-------------------Configurações │ Página Turma--------------------*/

/*Configurações gerais da página*/
.corpo-pagina {
    font-family: sans-serif;
    background-color: azure;
}

/*Configurações da tela de adição e exclusão de turmas*/
.tela-turma {
    border: 1px solid black;
    border-radius: 10%;
    padding: 4%;
    margin: 4%;
}

/*Configurações dos botões: menu, adicionar turma e deletar*/
.botoes {
    display: flex;
    justify-content: space-between;
    margin: 2%;
}

.botao-deletar {
    text-align: center;
}

/*Configurções do rodapé*/
.footer {
    text-align: center;
    font-weight: 900;
}

/*--------------------Configurações da tela de criar turma--------------------*/

/*Configurações gerais da página*/
.corpo-criar-pagina-turma {
    font-family: sans-serif;
    background-color: azure;
}

/*Configurções iniciais*/
.criar-turma-main {
    border: 1px solid black;
    margin: 1%;
    padding: 4%;
}

/*Configurações do rodapé*/
.criar-turma-footer {
    text-align: center;
    font-weight: 900;
}
.login{
    width: 50%;
    height: 20%;    
}

/* início index */

.indexLogo{
    width: 30%;
}
#indexBody{
    background-color: #d8eefe;
    padding: 1rem;
    display: flex;
    align-items: center;
    flex-direction: column;
}
#indexTitulo{
    color: #094067;
    margin: 0;
    margin-top: 15%;
    margin-bottom: 7%;
}
.indexTexto{
    color: #5f6c7b;
    margin: 0;
}
#indexBotao{
    background-color:#ef4565;
    color: #fffffe;
    width: 90%;
    margin-bottom: 25%;
}
#indexLink{
    color: #ef4565;
}
#indexPrincipal{
    display:flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10%;
    margin-bottom: 25%;
}
/* fim index */

