/* Aplicando configurações gerais às páginas HTML */
* {
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/* Paleta de cores e suas variáveis */
:root {
    --corFundo: white;
    --corBotaoP: #3da9fc;
    --corTextoBotao: white;
    --corTexto: #5f6c7b;
    --corBotaoS: #5f6c7b;
    --corBotaoVermelho: #c54141;
}

/* Configurações gerais das telas */
body {
    color: var(--corTexto);
    background-color: var(--corFundo);
    margin: 0;
    padding: 0 5%;
}

/* Configurações do button */
.index {
    background-color: var(--corBotaoP);
    border: none;
    color: var(--corTextoBotao);
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    white-space: nowrap;
    width: 100%;
    border-radius: 10px;
}

/* Configurações botão secundário */
.btn-2 {
    background-color: var(--corBotaoS);
    border: none;
    color: var(--corTextoBotao);
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    white-space: nowrap;
    width: 100%;
    border-radius: 10px;
}

/* Configurações de margens dos botões */
.centraliza-botao {
    margin: 10rem 0;
}

#ajuste {
    text-align: center;
}
/* -------------------------------------------------------------------------------------------------------------------------- */

/* Wesley e Rodrigo */
/* Telas escolherTurma(aluno), bloquearLaboratorio(prof) e proibirLaboratorio(adm) */
.turmas div, .laboratorios div{
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
    text-align: center;
}

#btnProibirLabAdm, #btnBloquearLabProf{
    margin-bottom: 30px;
}
/* fim telas escolherTurma(aluno) e bloquearLaboratorio(prof) e proibir laboratorio(adm)*/
/* Fim Wesley e Rodrigo */

/* wesley e iago
tela cadastro/validaçao/login*/
    
form input {
    border: 0.06rem solid #ccc;
    width: 100% ;   
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
}

    
/* Main */
.containerAuthenticacaoFilho, .validacao, .login {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 300px;
    height: 100vh;
}
    
/* Título */
.tituloCadastro, .tituloValidacao, .tituloLogin, .tituloAlteracaoDeSenha, #indexTitulo, .formTitulo{
    text-align: center;
    color: #094067;
}
    
/* Botão principal */
.btnPrincipal, #indexBotao {
    padding-top: 3%;
    padding-bottom: 3%;
    background-color: #3da9fc;
    display: block;
    width: 100%;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 10px;
    border: none;
    color: #fffffe;
}


.containerAuthenticacaoPai {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* fim tela cadastro */

/*tela turmas (professsor)*/

.tela-turma{
    width: 300px;
    margin-bottom: 4%;
}

/*fim tela turmas (professor)*/

/* tela ver e remover alunos (professor)*/

.btnRemoverAluno{
    background-color: var(--corBotaoVermelho);
    cursor: pointer;
    border: none;
    color: var(--corTextoBotao);
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    white-space: nowrap;
    width: 100%;
    border-radius: 10px;
}

/* fim tela ver e remover alunos (professor)*/

/*fim wesley*/
    
/*-------------------Configurações │ Tela Turma e Tela CancelarReserva--------------------*/
    
/* Configurações gerais da página */
.corpo-pagina {
    background-color: var(--corFundo);
}
    
/* Configurações da tela de adição e exclusão de turmas e Tela CancelarReserva*/
.tela-turma {
    border: 1px solid black;
    border-radius: 10%;
    padding: 4%;
    width: 300px;
    margin-bottom: 4%;
}
    
/* Configurações dos botões: menu, adicionar turma e deletar */
.botoes {
    display: flex;
    justify-content: space-between;
    margin: 2%;
}
    
.botao-deletar {
    text-align: center;
}
    
/* Configurções do rodapé */
.footer {
    text-align: center;
    font-weight: 900;
    width: 100%;
}

/* Botão do aluno cancelar a reserva */
.btnCancelarReserva {
    background-color: var(--corBotaoVermelho);
    color: #fffffe;
    cursor: pointer;
    border-radius: 10px;
    border: none;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    white-space: nowrap;
    width: 100%;
}
    
/*--------------------Configurações │ Tela Criar Turmas--------------------*/
    
/* Configurações gerais da página */
.corpo-criar-pagina-turma {
    background-color: azure;
}
    
/* Configurações iniciais */
.criar-turma-main {
    border: 1px solid black;
    margin: 1%;
    padding: 4%;
}
    
/* Configurações do rodapé */
.criar-turma-footer {
    text-align: center;
    font-weight: 900;
    position: absolute;
    bottom: 0;
    width: 100%;
}
    
/*-------------------- Configurações │ Modificar nome usuário --------------------*/           
.img-perfil {
    width: 20%;
    height: 20%;
}

/*-------------------- Fim tela -------------------- */

/**/
.body-msg-erro {
    background-color: #fffffe   ;
}
    
/* Aumentando ícone e centralizando na página */
.icone-erro {
    text-align: center;
    margin-top: 2%;
}
    
/**/
.retorno {
    width: 8%;
    height: 8%;
}
    
/**/
.msg-erro {
    width: 6%;
    height: 6%;
}
    
/* Configurações da mensagem de erro */
.main-erro {
    text-align: center;
}
    
/* Configuraçoes do botão de retorno */
.botao-retorno {
    border: 1px solid #3da9fc;
    background-color: #3da9fc;
    text-align: center;
    padding: 20px;
    margin-left: 20%;
    margin-right: 20%;
}
    
    /*Configurações do rodapé*/
    .footer-erro {
        text-align: center;
        font-weight: 900;
        position: absolute;
        bottom: 0;
        width: 100%;
        margin-bottom: 1%;
    }
/*---------------------------------------------------------------------------------*/

/* Configurações da tela de entrar nas turmas (Aluno) */
.entrar-turma {
    margin-top: 10%;
    margin-bottom: 10%;
}

/*---------------------------------------------------------------------------------*/

/*---------------------------------------- início páginas Allan ----------------------------------------------------------------------- */

    /* início página formulárioProibirLaboratorio */
    #cancelar{
        padding-top: 3%;
        padding-bottom: 3%;
        background-color: red;
        color: #fffffe;
        display: block;
        width: 25%;
        border-radius: 5px;
        cursor: pointer;
        border: none;
    }
    #botaoCriar{
        padding-top: 3%;
        padding-bottom: 3%;
        background-color: #3da9fc;
        color: #fffffe;
        display: block;
        width: 25%;
        border-radius: 5px;
        cursor: pointer;
        border: none;
    }
    #botoes{
        display: flex;
        align-items: center;
        justify-content: space-around;
        margin-top: 20px;
    }
    .preencher{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-bottom: 16px;
    }

    .data{
        border: 1px solid black;
        border-radius: 0;
        padding: 0;
        width: 99.6px;
        border: 1px solid black;
        margin-bottom: 0;
    }
    #campoDataInicio{
        margin-bottom: 16px;
    }
    .formLabel{
        margin-bottom: 16px;;
    }
    .formMargin{
        margin-bottom: 16px;
    }
    /* fim página formulárioProibirLaboratorio */

    /* início página formulárioCriarTurma */
    #horaFim, #horaInicio{
        margin-bottom: 16px;
        padding: 0;
        border-radius: 0;
        border: 1px solid black;
        width: 99.6px;
    }
    .cursoProfessor{
        width: 99.6px;
    }
    /* fim página formulárioCriarTurma */

    /* início index */
    .indexTexto, #indexLink, #indexTitulo, #indexBotao{
        margin: 0;
        text-align: center;
    }
    #indexBotao{
        margin-top: 80px;
        margin-bottom: 80px;
    }
    #indexTitulo{
        margin-top: 50px;
        margin-bottom: 24px;
    }
    .secaoIndex{
        display: flex;
        flex-direction: column;
        align-content: center;
        justify-content: center;
    }
    #indexBotaoLink{
        text-decoration: none;
    }
    /* fim index */
    
    /* início página formularioReservarComputador */
    .formLabel{
        margin-bottom: 16px;
    }
    .formSelect{
        width: 99.6px;
    }
    .formDiv{
        align-items: center;
        width: 115px;
        justify-content: center;
        text-align: center;
    }
    .preencher div input{
        margin:0
    }   
    .radioButton{
        width: 20px;
    }
    /* fim página formularioReservarComputador */
    /* inicio menu */
    .menu{
        padding: 0;
        margin: 0;
        list-style: none;
    }
    .botaoMenu{
        display: block;
        background-repeat: no-repeat;
        text-indent: -9999px;
        padding: 20px 15px;
        background-position: 15px center;
    }
    .abrirMenu{
        background-image: url('../img/menu-hambuger.svg');
        width: 53px;
    }
    .fecharMenu{
        background-image: url('../img/fechar.svg');
        width: 53px;
        cursor: pointer;
    }
    #divFecharMenu{
        background-color: #3da9fc;
    }
    .acaoItemMenu{
        color: #3da9fc;
        text-transform: uppercase;
        text-decoration: none;
        font-size: 12px;
    }
    .itemMenu{
        padding: 20px 15px;
        border-bottom: 1px solid #3da9fc;
        display: flex;
        justify-content: center;
        background-color: #fffffe;
    }
    .menu{
        position: absolute;
        width: 100%;
        top: 0;
        left: 0;
        transform: translateX(-100%);
        transition: transform 200ms linear;
    }
    .menuAberto{
        transform: translateX(0);
    }
    .barraNavegacao{
        display: none;
    }
    /* fim menu */
    
/*---------------------------------------- Fim páginas Allan ----------------------------------------------------------------------- */
    
/*-----------Início do Login-----------*/    
/* Corpo login */
.containerLogin {
    display: flex;
    justify-content: center;
    align-items: center;
}
    
 .containerLogo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10%;
} 
    
.campoEsqueceuSenha {
    margin-bottom: 30%  ;
}
    
.paragrafoNaoPossuiConta {
    margin-bottom: 0;
}
    
.containerCentro {
    display: flex;
    flex-direction: column;
    align-items: center;
}
    
    
/*-----------Fim do Login-----------*/

/*-----------Início de alteração de senha-----------*/

/* Logo */
.logoModificarSenha {
    width: 30%;
}

/* Container de modificar senha */
.containerModificarSenha {
    display: flex;
    justify-content: center;
    align-items: center;
}
    


/* Espaço entre o formulário e o botão */
.botaoPrincipal {
    padding-top: 3%;
    padding-bottom: 3%;
    background-color: #3da9fc;
    color: #fffffe;
    display: block;
    width: 100%;
    border-radius: 5px;
    cursor: pointer;
    border: none;
}
    
/*-----------Fim de alteração de senha-----------*/
/*-----------Início campos de filtragem-----------*/
.filtrarTurmasAluno, .filtrarAlunoProfessor, .filtrarPorCurso, .filtrarReservasAluno, .filtrarLabBloqueadoProfessor, .filtrarTurmasProfessor, .filtrarTurmasAdministrador{
    margin-bottom: 20px;
}
.camposFiltragem{
    display: flex;
    align-items: center;
}
.divisaoFiltragemBotao{
    display: flex;
}
.filtrarPorLaboratorio, .filtrarPorCurso, .filtrarPorUsuario{
    margin-right: 30px;
}
#botaoFiltrar{
    margin-left: 30px;
    padding-top: 6%;
    padding-bottom: 8%;
    background-color: #3da9fc;
    color: #fffffe;
    display: block;
    width: 70%;
    border-radius: 5px;
    cursor: pointer;
    border: none;
}



/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

/*.filtrarTurmas, .filtrarReservas{
    background-color: aqua;
    margin-top: 10%;
    padding-left: 2%;
    padding-right: 2%;
    padding-bottom: 2%;
    border-radius: 5%;
}
.botaoSecundario {
    padding-top: 3%;
    padding-bottom: 3%;
    background-color:#929292;
    color: #fffffe;
    display: block;
    width: 100%;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 5%;
}*/
/*-----------Fim de campos de filtragem-----------*/

/* início media queries */
@media(min-width:770px) {
    /*---------------------------------------- início páginas Allan ----------------------------------------------------------------------- */

    /* Início index */
    #indexBotao {
        margin-top: 100px;
        margin-bottom: 100px;
    }

    #indexTitulo {
        margin-bottom: 30px;
    }

    /* Fim index */
    .menuBotao{
        color: #FFFFFF;
        background-color: #6495ED;
        text-decoration: none;
    }
    .menuBotao:hover{
        background-color: #FFFFFF;
        color: black;
        border: 1px solid black;
    }
    li{
        list-style: none;
    }
    /* inicio menu */
    .menuLateral{
        display: none;
    }
    .barraNavegacao{
        display: block;
    }
    header{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    header ul{
        display: flex;
        justify-content: flex-end;
        column-gap: 1rem;
        padding-right: 1rem;
    }
    .menuBotao{
        padding: 7px;
    }
    /* fim menu */
/*---------------------------------------- fim páginas Allan ----------------------------------------------------------------------- */

    /* wesley e Iago*/
    /* início tela de cadastro, validação e login */
    .containerAuthenticacaoFilho, .validacao, .login, .modificarSenha{
        width: 100vw;
        height: 100vh;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
    }

    form input{
    margin-bottom: 30px;
    }

    .logo, .logoLogin, .logoModificarSenha {
        width: 35%;
    }

    .secaoParaTelaComputador, .secaoTelaComputadorLogin, .secaoTelaComputadorModificarSenha {
        width: 35%;
    }

    /* Fim tela de cadastro e validação */

    /* Início da tela de Login */

    /* Fim da tela de Login */


    /* início tela do aluno ver e cancelar reserva e tela remover aluno da turma*/
    .containerCancelarReserva-RemoverAlunoDaTurma {
        display: flex;
        flex-wrap: wrap;
        justify-content:space-around;
        width: 100%;
    }

    .tela-turma {
        max-width: 400px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        margin: 2%;
    }
    /* fim tela do aluno ver e cancelar reserva e tela remover aluno  da turma*/


    /* wesley e rodrigo */
    /* telas escolherTurma(aluno) e bloquearLaboratorio(prof) e proibir laboratorio(adm)*/
    .turmas, .laboratorios{
        display: flex;
        flex-wrap: wrap;
        column-gap: 1%;
        row-gap: 1rem;
}

    .turmas div, .lab{
        width: 24%;
}

    .lab{
        display: flex;
        flex-direction: column;
        margin: 0 auto;
        column-gap: 30px;
}

    #btnProibirLabAdm, #btnBloquearLabProf{
        width: 40%;
        margin-bottom: 30px;
    }
    /* fim telas escolherTurma(aluno) e bloquearLaboratorio(prof) e proibir laboratorio(adm)*/
    /* fim wesley e rodrigo */
}
    /* Fim media queries */