*{
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
header{
    display: flex;
    justify-content: center;
}
main{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
a{
    display: flex;
    justify-content: center;
}
.indexLogo{
    width: 50%;
}
body{
    background-color: #fffffe;
    padding: 1rem;
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 100%;
    justify-content: center;
}
#indexTitulo{
    color: #094067;
    margin: 0;
    margin-top: 23.9%;
    margin-bottom: 11%;
    display:flex;
    justify-content:center;
}
.indexTexto{
    color: #5f6c7b;
    margin: 0;
    display: flex;
    justify-content: center;
}
#indexBotaoLink{
    color: #fffffe;
    width: 100%;
    text-decoration: none;
    margin-top: 39%;
    margin-bottom: 39%;
}
#indexBotao {
    padding-top: 3%;
    padding-bottom: 3%;
    background-color: #3da9fc;
    color: #fffffe;
    display: block;
    width: 100%;
    border-radius: 5px;
    cursor: pointer;
}
html, body{
    overflow: hidden;
}

@media(min-width:770px) {
    body{
        width: 100vw;
        height: 100vh;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        padding: 0;
        margin: 0;
        padding: 0 75.950px;
    }
    .indexLogo{
        width: 29.9rem;
    }
    main{
        height: 100%;
        width: 31.8%;
    }
    html,body{
        overflow: hidden;
    }
    #indexTitulo{
        margin-top: 0;
    }
}